body {
    background-color: eee;
    /*background-color: rgba(226, 244, 250, 0.925);*/
    /*background-image: url("C:/Users/Korisnik/Desktop/appointment_img4.png");
    background-image: url("C:/Users/Korisnik/New Downloads/logo_tr2.png");*/
    /*background-repeat: repeat-x;*/
    /*background: rgb(2,0,36);
    height: 100%;
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(145,145,216,1) 35%, rgba(200,246,255,0.5385504543614321) 100%);*/
background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(145,145,216,1) 35%, rgba(200,246,255,0.5385504543614321) 100%);
/*background-image: url("C:/Users/Korisnik/Desktop/appointment_img4.png");*/
background-repeat: no-repeat;
background-attachment: fixed;
    
  }
  
.main-pane {
	width: 1100px; 
	margin: 0 auto;  
	box-shadow: 0 0 10px 10px #09072c8c;
    background: #ffffff; /*
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(145,145,216,1) 35%, rgba(32,152,177,1) 100%); */ 
    overflow: auto; 
    bottom:150px;
   	left:150px;
   	
    
}


.navbar-item{
	font-size: 16px;
	
}

a.navbar-item:hover{
   /* background-color:#aaa;
    color:white;*/
    color:inherit;
}

li.active{
	font-size: 18px;
	border-radius: 10px;
	/*background-color: rgba(2,0,36, 0.1);
    /*background-color: rgb(ff, ff, ff);*/
    /*text-shadow:0px 0px 1px gray;*/
    font-weight: bold;
    text-decoration: underline;
  	text-decoration-color: red;
  	color: white; 
    /*color:black;*/
}

.helper {
    background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(145,145,216,1) 35%, rgba(200,246,255,0.5385504543614321) 100%);
/*left: 0;*/
/*height: 100%;*/
 /*   min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    z-index: 9;*/
    /*height: 100vh;*/
   /* max-height: 500px;*/
   width: 50%;
   height: 50%;
    overflow: hidden;
    position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.title {
   
      margin-bottom: 50px;
      text-transform: uppercase;
  }
  
  .card-block {
      font-size: 1em;
      position: relative;
      /*margin: 0;*/
      margin-left: 15px;
      margin-right: 15px;
      padding: 1em;
      border: none;
      border-top: 0px solid rgba(34, 36, 38, .1);
      box-shadow: none;
       
  }
  .card {
      font-size: 1em;
      overflow: hidden;
      padding: 5;
      border: none;
      border-radius: 10px;
      /*border-radius: .28571429rem;*/
      /*box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;*/
      box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.3);
      margin-top:20px;
  }
  
  .card-appointment {
  	width: 750px; 
  	margin: 0 auto; 
  	margin-top:30px; 
  
  }
  
  .cardy{
  	vertical-align: middle;
  	/*box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5)*/
  	/*box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);*/
  }
  
.apt-img-div {
	width:150px;
	 margin-left: 55px; 
	 margin-top: 35px; 
     vertical-align: middle; 
     display: inline-block; 
     position: relative;
}

.apt-img{
	src:"/images/icons/upcoming_appts_ico.png";
	 alt:"" ; 
	 width:"115px;"
}

  .btn {
    margin-top: auto;
  }

  p:hover{
    text-decoration: underline;
  }