body {
    background-color: eee;
    /*background-color: rgba(226, 244, 250, 0.925);*/
    /*background-image: url("C:/Users/Korisnik/Desktop/appointment_img4.png");
    background-image: url("C:/Users/Korisnik/New Downloads/logo_tr2.png");*/
    /*background-repeat: repeat-x;*/
    /*background: rgb(2,0,36);
    height: 100%;
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(145,145,216,1) 35%, rgba(200,246,255,0.5385504543614321) 100%);*/
background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(145,145,216,1) 35%, rgba(200,246,255,0.5385504543614321) 100%);
/*background-image: url("C:/Users/Korisnik/Desktop/appointment_img4.png");*/
background-repeat: no-repeat;
background-attachment: fixed;
    
  }


.navbar-item{
	font-size: 16px;
}

.helper {
    background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(145,145,216,1) 35%, rgba(200,246,255,0.5385504543614321) 100%);
/*left: 0;*/
/*height: 100%;*/
 /*   min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    z-index: 9;*/
    /*height: 100vh;*/
   /* max-height: 500px;*/
   width: 50%;
   height: 50%;
    overflow: hidden;
    position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.title {
   
      margin-bottom: 50px;
      text-transform: uppercase;
  }
  
  .card-block {
      font-size: 1em;
      position: relative;
      /*margin: 0;*/
      margin-left: 15px;
      margin-right: 15px;
      padding: 1em;
      border: none;
      border-top: 0px solid rgba(34, 36, 38, .1);
      box-shadow: none;
       
  }
  .card {
      font-size: 1em;
      overflow: hidden;
      padding: 5;
      border: none;
      border-radius: 10px;
      /*border-radius: .28571429rem;*/
      /*box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;*/
      box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.3);
      margin-top:20px;
  }
  
  
  .cardy{
  	/*box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5)*/
  	/*box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);*/
  }
  
  .carousel-indicators li {
      border-radius: 12px;
      width: 12px;
      height: 12px;
      background-color: #404040;
  }
  .carousel-indicators li {
      border-radius: 12px;
      width: 12px;
      height: 12px;
      background-color: #404040;
  }
  .carousel-indicators .active {
      background-color: white;
      max-width: 12px;
      margin: 0 3px;
      height: 12px;
  }
  .carousel-control-prev-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  }
  
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  }

  .btn {
    margin-top: auto;
  }

  p:hover{
    text-decoration: underline;
  }