.boxy{
	border: solid rgba(120, 192, 499, 0.5);
	border-radius: 15px;
	/*box-shadow: 5px 10px #888888;*/
	padding: 10px;
	margin-top: 50px;
}


.col-info-card {
	width: 250px;
	display: inline-block;
}

#wrongPassword {
	color: red !important;
	font-size: 15px !important;
	margin: 10px;
}

#wrongPassword.p {
	color: red !important;
	font-size: 15px !important;
}